<footer id="contact" class="footer">

  <div class="footer__brand">
    <h2 style="color: yellow;">Shop<span>App</span></h2>
    <p>Votre boutique en ligne de confiance. Venez par curiosité et rentrez avec satisfaction.</p>
  </div>

  <div class="footer__links">
    <h3>Navigation</h3>
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/about" routerLinkActive="active">Blog</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>
  </div>

  <div class="footer__social">
    <h3>Suivez-nous</h3> 

    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-x-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>

</footer>

<div class="footer-bottom">
  Copyright © 2026. Tous droits réservés.
</div>